<div class="room_index_file">
    <div class="chats_list_area" id="chats_list_area">
        <% @chats.each do |chat|%>
            <%= render "user/chats/unit", chat:chat, limit_lines: true %>
        <%end%>
    </div>
</div>
<%= javascript_pack_tag "shared/replace_code_signs" %>
<%= javascript_pack_tag "shared/generate_color" %>
<%= javascript_pack_tag "shared/insert_units" %>
<%= javascript_pack_tag javascript_path %>
<%= javascript_pack_tag "shared/xml_request" %>
<%= javascript_pack_tag "shared/check_scroll" %>
<script>
</script>